<ul>
  <% @words.each() do |word| %>
  <li><a href="/word_detail/<%= word.word() %>"><%= word.word() %></a></li>
  <% end %>
</ul>


<form id="add_word" class="add_form" action="/add_word" method="post">

  <h4>Add a word:</h4>

  <input type="text" class="field" name="word" placeholder="Word">

  <select class="option" name="type">
    <option value="nil">Please select word type.</option>
    <option value="noun">Noun</option>
    <option value="verb">Verb</option>
    <option value="adjective">Adjective</option>
    <option value="adverb">Adverb</option>
  </select>

  <textarea class="area" rows="10" cols="50" name="definition_text" form="add_word" placeholder="Definition text">
</textarea>

  <button name="button" class="word_button" type="submit">Add Word</button>



</form>
