<ul>
  <% @words.each() do |word| %>
  <li><a href="/word_detail/<%= word.word() %>"><%= word.word() %></a></li>
  <% end %>
</ul>


<form id="add_word" action="/add_word" method="post">

  <h4>Add a word:</h4>

  <input type="text" class="word_input_field" name="word" placeholder="Word">

  <select class="word_type_input_field" name="type">
    <option value="nil">Please select word type.</option>
    <option value="noun">Noun</option>
    <option value="verb">Verb</option>
    <option value="adjective">Adjective</option>
    <option value="adverb">Adverb</option>
  </select>

  <textarea class="definition_text_input_field" rows="10" cols="50" name="definition_text" form="add_word" placeholder="Definition text">
</textarea>

  <button name="button" class="new_word_button" type="submit">Add Word</button>



</form>
