<!DOCTYPE html>
<html>
  <head>
    <title>Word Definer Machine</title>
    <!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> -->
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="headline">

      <h1>The Word Definer Machine</h1>
      <h3>from the future!</h3>

    </div>

    <div class="nav">
      <ul>
          <li><a href="/">home</a></li>
          <!-- <li><a href="/word_list">view list of all words</a></li> -->
          <li>
            <form id="search" action="/search" method="get">
              <input type="text" name="search_word" placeholder="search for a word">
              <button name="button" type="submit">Search</button>
            </form>
          </li>
      </ul>
    </div>

    </div>

    <div class="content">

      <div class="container">
        <%= yield %>
      </div>

    </div>

  </body>
</html>
