<% if @word == nil %>
<h4>Uh oh!</h4>
The Word Definer Machine (from the future) couldn't find your word. Could you try again?
<% else %>

<h3><%= @word %></h3>

  <% @all_word_definitions.each() do |definition| %>
    <h4><%= definition.type %></h4>
    <%= definition.definition_text %>
  <% end %>

  <form id="add_definition" action="/add_definition/<%= @word %>" method="post">

   <h4>Add a definition for this word:</h4>

  <select class="option" name="type">
    <option value="nil">Please select word type.</option>
    <option value="noun">Noun</option>
    <option value="verb">Verb</option>
    <option value="adjective">Adjective</option>
    <option value="adverb">Adverb</option>
  </select>

  <textarea class="area" rows="10" cols="50" name="definition_text" form="add_definition" placeholder="Definition text">
  </textarea>

  <button name="button" class="word_button" type="submit">Add Definition</button>

</form>

<% end %>
